<%= t(:hello) %> <%= @user.first_name %> <%= @user.last_name %>!
<%= t(:your_account) %> "<%= @user.email %>" <%= t(:has_been_approved) %>!

<%= t(:check_out_website) %> <%= ENV['PROFILE_URL'] %>>

<p><%= t(:see_you) %>! </p>
