<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1> <%= t(:hello) %> <%= @user.first_name %> <%= @user.last_name %>!</h1>

    <p>
      <%= t(:your_account) %> "<%= @user.email %>" <%= t(:has_been_approved) %>!
    </p>
    <p>
      <%= t(:check_out_website) %> <a href=<%= ENV['PROFILE_URL'] %>><%=t(:our_website)%></a>
    </p>
    <p><%= t(:see_you) %>! </p>
  </body>
</html>
