<p><%= t(:hello) %>  <%= @user.first_name%> <%= @user.last_name%>!</p>

<p><%= t(:request_password) %></p>

<% reset_password_link = "#{ENV['HOME_URL']}/password/edit?reset_token=#{@token}" %>
<%= link_to reset_password_link do %><%= t(:change_password) %><% end %>

<p><%= t(:did_not_request) %></p>
<p><%= t(:password_wont_change) %></p>