<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1><%= t(:hello) %>  <%= @user.first_name %> <%= @user.last_name %>!</h1>

    <p>
      <%= t(:you_just_signed_up) %> "<%= @subscription.learning_path.title %>" <%= t(:on)%> LearningStuff.
    </p>
    <p>
     <%= t(:find_your_subscriptions) %> <a href=<%= ENV['PROFILE_URL'] %>><%= t(:our_website) %></a>
    </p>
    <p><%= t(:see_you) %>! </p>
  </body>
</html>
