<%= t(:hello) %> <%= @user.first_name %> <%= @user.last_name %> <%= t(:welcome_email_subject) %>!
<%= t(:you_used_this_email) %> "<%= @user.email %>".
 <%= t(:admin_is_reviewing) %> <%= t(:you_will_received_email)%>

<%= t(:check_out_website)%> <%= ENV['PROFILE_URL'] %>

    <p><%= t(:see_you) %>! </p>
